@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  /* background-color: #00204a; */
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
h1,
h2 {
  color: #fff;
  padding: 20px;
}

p#content {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}



.container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 80%;
  height: 80vh;
}

#root{
  overflow: hidden;
}

#navbarNav{
  margin-left: 15px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
}

.nav-items {
  padding: 0.5rem 1rem;
  list-style: none;
  margin-right: 1rem;
}

.nav-items a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.title-container {
  position: absolute;
  width: 50%;
  height: auto;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.title {
  color: rgb(231, 231, 231);
  padding: 0 2rem;
}

.title h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 0;
}

.title p {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(177, 177, 177);
  width: 85%;
  margin: 1rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(0, 114, 255);
  color: white;
}
.btn:hover{
  background-color:  rgb(0, 156, 255);
}
footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/*** making responsive ****/
@media only screen and (max-width: 1085px) {
  .nav-menu {
    padding: 0.5rem;
  }

  .title h1 {
    font-size: 1.8rem;
    padding: 0;
  }

  .title p {
    width: 80%;
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  .btn {
    padding: 0.5rem 1rem;
    margin-top: 1.7rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1000px) {
  .title-container {
    width: 55%;
  }

  .title {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .nav-menu {
    padding: 0rem;
  }

  .nav-items {
    font-size: 0.9rem;
  }

  .title-container {
    width: 60%;
  }

  .title h1 {
    color: white;
  }

  .title p {
    color: rgb(205, 205, 205);
  }
}

@media only screen and (max-width: 846px) {
  .nav-items {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 790px) {
  .nav-items {
    margin-right: 0rem;
  }

  .title-container {
    width: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .title p {
    color: rgb(248, 248, 248);
  }
}

@media only screen and (max-width: 700px) {
  .nav-menu {
    width: 80%;
  }

  .title-container {
    width: 100%;
  }
}

@media only scree and (max-width: 630px) {
  .nav-menu {
    width: 80%;
  }

  .title-container {
    width: 100%;
  }
}

@media only screen and (max-width: 544px) {
  .nav-menu {
    width: 80%;
  }

  .title-container {
    width: 100%;
  }
}

@media only screen and (max-width: 472px) {
  .nav-menu {
    width: 80%;
  }

  .title-container {
    width: 100%;
  }
}

/*xx** making responsive ***xx*/
#bgimage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -99;
}

/* 
#navbar{
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 100 !important;
  overflow: hidden !important;
} */


/* .buttons{
  transform: translateY(70px);
} */





/* 
.seeAllvoluteers{
  margin-top: 70px;
}
.containerCard{
  display: flex;
  flex-wrap: wrap;
}
.profile_container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 2;
  overflow: hidden;
}
.profile_image{
  height: 100%;
  width: auto;
  border-radius: 50%;
}
.note{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 230px;
  margin: 5px;
  justify-content: center;
  border-radius: 10px;
}

.text_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.username_seevol{
  margin-left: auto;
  margin-right: auto;
}
.email_seevol{
  margin-left: auto;
  margin-right: auto;
} */